*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html,#root{
  width: 100%;
  height: 100vh;
}
.main-heading{
 background-color: #93BBF6; 
}
.scrollable-list {
  max-height: 400px; /* Set the max height for the list */
  overflow-y: auto;  /* Enable vertical scrolling */
}